<ul>
{{#each this.cart.items as |bookInCart|}}
  <li>{{bookInCart.title}} by {{bookInCart.author}}...<strong>Price: </strong>${{format-currency bookInCart.price}}</li>
{{/each}}
</ul>

<strong>Total Cost: ${{format-currency this.cart.total }}</strong>